.visible {
  display: block;
}
.invisible {
  display: none;
}

div.info {
  display: flex;
  gap: 2vw;
}
div.info div.img {
  width: 15vw;
  border-radius: 50%;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color1);
}
div.img img {
  width: 100%;
  border-radius: 50%;
}
div.img div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  text-align: center;
  padding-top: 2vh;
  background-color: var(--color2);
  filter: opacity(70%);
}
div.img div i {
  font-size: 2em;
  color: #fff;
  text-decoration: none;
}
div.img div:hover i {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}
div.info div.nameUser {
  position: relative;
}
div.info div.nameUser h3,
div.info div.nameUser p {
  color: #fff;
}
div.info div.nameUser h3 {
  position: relative;
  top: 6vh;
  font-size: 3em;
}
div.info div.nameUser p {
  position: relative;
  top: 8vh;
  font-size: 1em;
}
div.info div.nameUser .enviarFoto {
  background-color: var(--color1);
  border: none;
  padding: 1vh 2vw;
  border-radius: 20px;
  position: relative;
  top: 10vh;
  transition: all 0.5s;
}
div.info div.nameUser .enviarFoto:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: var(--color2);
  border: 1px solid var(--color1);
  color: #fff;
}

div.nav {
  background-color: var(--color1);
  border-radius: 50px;
  margin-top: 2vh;
}
div.nav nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1vh 0;
}
div.nav nav button {
  background: none;
  border: none;
  font-size: 1.3em;
  transition: 0.5s;
}
div.nav nav button:hover {
  text-decoration: underline;
  cursor: pointer;
}

section.lienzoPerfil > div {
  justify-content: space-evenly;
  padding: 2vh 0;
  display: flex;
  flex-direction: row;
}
.form {
  width: 400px;
  padding: 40px;
  background: var(--color1);
  border-radius: 10px;
}
.form h2 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}
.form .campo {
  position: relative;
}
.form .campo input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--color2);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--color2);
  outline: none;
  background: transparent;
}
.form .campo label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--color2);
  pointer-events: none;
  transition: 0.5s;
}
.form .campo input:focus ~ label,
.form .campo input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}
.loginButton {
  text-align: center;
}
.loginButton button {
  background-color: var(--color2);
  padding: 1vh 2vw;
  border-radius: 10px;
  border: none;
  color: #fff;
  transition: 0.5s;
}
.loginButton button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.loginButton button:focus {
  box-shadow: 2px 2px 2px var(--color2);
}

.loginButton a {
  color: var(--color2);
  transition: 0.5s;
}
.loginButton a:hover {
  letter-spacing: 1px;
  cursor: pointer;
}

.form .campo i {
  position: absolute;
  top: 1vh;
  right: 0.3vw;
  transition: all 0.5s;
}
.form .campo i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.formUser form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#mensaje {
  text-align: center;
  margin-bottom: 2vh;
}

.false {
  color: var(--color3);
}

section.lienzoPagos table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2%;
  color: #fff;
}
section.lienzoPagos h3 {
  color: #fff;
  text-align: center;
}
section.lienzoPagos button {
  background-color: var(--color1);
  border: none;
  padding: 1vh 2vw;
  border-radius: 20px;
  transition: all 0.5s;
}
section.lienzoPagos button:hover {
  transform: scale(1.1);
}
