* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Fira Sans', sans-serif;
}

/* Colores de la página */
:root {
  --color1: #fc9d0f;
  --color2: #454545;
  --color3: #e80a2b;
  --color4: #5b5a5a;
}

body {
  background-color: var(--color2);
}

/* Cabecera */
header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  background-color: var(--color1);
  position: fixed;
  align-items: center;
  z-index: 3;
}
header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* Primera sección de la cabecera */
header div:nth-child(1) img {
  width: 50px;
}

/* Contenedor de las barras del menú hamburguesa */
.contenedor_icono_burger {
  display: block;
  cursor: pointer;
}
/* Barras menú hamburguesa cuando no está desplegado */
.icono_barras span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background: black;
  border-radius: 3px;
  transition: all 1s;
}

/* Barras menú hamburguesa cuando está desplegado (cruz) */
.icono_cruz span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background: black;
  border-radius: 3px;
  transition: all 1s;
}

/* Transformación de cada barra para cambiar el icono */
.icono_cruz span:nth-child(2) {
  transform: translateX(-20px);
  opacity: 0;
}
.icono_cruz span:nth-child(1) {
  border-radius: 3px;
  transform: translateY(8px) rotateZ(45deg);
}
.icono_cruz span:nth-child(3) {
  border-radius: 3px;
  transform: translateY(-8px) rotateZ(-45deg);
}
.icono_cruz {
  transition: all 1s;
}
header div .inicio img {
  transition: all 0.5s;
}
header div .inicio img:hover {
  transform: scale(1.1);
}

/* Segunda sección de la cabecera, barra de navegación central */
header div:nth-child(2) {
  align-self: center;
}
header div:nth-child(2) nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
  font-weight: 700;
  font-size: 1.4em;
  align-items: center;
}
header div:nth-child(2) nav ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.5s;
}
header div:nth-child(2) nav ul li p {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.5em;
}
header div:nth-child(2) nav ul li:hover {
  text-decoration: underline;
}

/* Alineación del icono y texto del li .nintendo */
.nintendo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nintendoIcon {
  width: 25px;
}

/* Tercera sección de la cabecera */
header div:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header div:nth-child(3) i {
  font-size: 2em;
  transition: all 0.5s;
}
header div:nth-child(3) i:hover {
  transform: scale(1.1);
}
header div:nth-child(3) img {
  width: 2.5vw;
  border-radius: 50%;
  transition: all 0.5s;
}
header div:nth-child(3) img:hover {
  transform: scale(1.1);
}
header div a {
  color: #000;
  text-decoration: none;
}

/* Menú desplegable */
div.desplegable {
  position: fixed;
  top: 10vh;
  height: 84vh;
  width: 20vw;
  background-color: var(--color1);
  padding: 0 1vw 0 1vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Clases que muestran u ocultan el menú desplegable */
.off {
  transform: translateX(-1200px);
  transition: all 1s;
}
.on {
  transform: translateX(0vw);
  transition: all 1s;
}

div.listas {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  height: 80%;
  overflow: auto;
}
div.listas::-webkit-scrollbar {
  width: 0.2vw;
}
div.listas::-webkit-scrollbar-track {
  background: var(--color1);
}
div.listas::-webkit-scrollbar-thumb {
  background-color: var(--color2);
}
div.listas .lista {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.6vh 0;
  padding: 1vh 1vw 0 0;
  align-items: center;
  height: 3vh;
}
div.listas .lista i {
  opacity: 0;
  transition: all 0.5s;
  color: var(--color3);
}
div.listas .lista:hover i {
  opacity: 1;
}
div.listas .lista i:hover {
  transform: scale(1.3);
}
div.listas a {
  color: #000;
  text-decoration: none;
}
div.listas a p {
  transition: all 0.5s;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
}
div.listas .lista:hover p {
  letter-spacing: 1px;
  font-weight: 600;
}

div.bottom {
  font-size: 1.3em;
}
div.bottom a {
  color: #000;
  text-decoration: none;
  transition: all 0.5s;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
}
div.bottom a:hover {
  letter-spacing: 1px;
  font-weight: 600;
}

/* Estilo de la barra de navegación */
::-webkit-scrollbar {
  width: 0.5vw;
}
/* Estilo del fondo de la barra de navegación */
::-webkit-scrollbar-track {
  background: var(--color2);
}
/* Estilo del recorrido de la barra de navegación */
::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  border-radius: 20px;
}

.container {
  padding: 13vh 2vw 13vh 2vw;
}

footer {
  margin-top: 2vw;
  background-color: var(--color1);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}
footer div {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 10px;
}
footer div img {
  width: 3vw;
}
footer div p {
  font-family: 'Press Start 2P', cursive;
}
footer a {
  color: black;
  transition: all 0.5s;
}
footer a:hover {
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1200px) {
  header div:nth-child(1) img {
    width: 40px;
  }
  header div:nth-child(2) nav ul li p {
    display: none;
  }
  header div:nth-child(3) a:nth-child(2) {
    display: none;
  }

  /* Menú desplegable */
  div.desplegable {
    width: 50vw;
    padding: 0 1vw 7vh 10px;
  }
  div.listas a p {
    transition: all 0.5s;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5em;
  }

  footer {
    padding: 5px;
  }
  footer div {
    left: 5px;
  }
  footer div img {
    width: 20px;
  }
  footer div p {
    display: none;
  }
  footer a {
    font-size: 0.8em;
  }
  .container {
    padding: 13vh 0vw 13vh 0vw;
    width: 100vw;
  }
  div.listas .lista i {
    opacity: 1;
    font-size: 0.5em;
  }
  div.bottom a {
    font-size: 0.5em;
  }
}
