* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Fira Sans', sans-serif;
}

/* Colores de la página */
:root {
  --color1: #fc9d0f;
  --color2: #252525;
  --color3: #aa1155;
}

body {
  background-color: var(--color2);
}

/* Cabecera */
header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  background-color: var(--color1);
  position: fixed;
  align-items: center;
  z-index: 3;
}
header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* Primera sección de la cabecera */
header div:nth-child(1) img {
  width: 50px;
}

/* Contenedor de las barras del menú hamburguesa */
.contenedor_icono_burger {
  display: block;
  cursor: pointer;
}
/* Barras menú hamburguesa cuando no está desplegado */
.icono_barras span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background: black;
  border-radius: 3px;
  transition: all 1s;
}

/* Barras menú hamburguesa cuando está desplegado (cruz) */
.icono_cruz span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background: black;
  border-radius: 3px;
  transition: all 1s;
}

/* Transformación de cada barra para cambiar el icono */
.icono_cruz span:nth-child(2) {
  transform: translateX(-20px);
  opacity: 0;
}
.icono_cruz span:nth-child(1) {
  border-radius: 3px;
  transform: translateY(8px) rotateZ(45deg);
}
.icono_cruz span:nth-child(3) {
  border-radius: 3px;
  transform: translateY(-8px) rotateZ(-45deg);
}
.icono_cruz {
  transition: all 1s;
}
header div .inicio:hover img {
  transform: scale(1.1);
}

/* Segunda sección de la cabecera, barra de navegación central */
header div:nth-child(2) {
  align-self: center;
}
header div:nth-child(2) nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
  font-weight: 700;
  font-size: 1.4em;
}
header div:nth-child(2) nav ul li:hover {
  text-decoration: underline;
}

/* Alineación del icono y texto del li .nintendo */
.nintendo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nintendoIcon {
  width: 19px;
}

/* Tercera sección de la cabecera */
header div:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header div:nth-child(3) i {
  font-size: 2em;
}
header div:nth-child(3) .profilePicture {
  border: 2px solid var(--color2);
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
}
header div a {
  color: #000;
  text-decoration: none;
}

/* Menú desplegable */
div.desplegable {
  position: fixed;
  top: 0vh;
  width: 20vw;
  height: 100vh;
  background-color: var(--color1);
  padding: 10vh 1vw 0 1vw;
  z-index: 2;
}

/* Clases que muestran u ocultan el menú desplegable */
.off {
  transform: translateX(-100vw);
  transition: all 1s;
}
.on {
  transform: translateX(0vw);
  transition: all 1s;
}

/* Alineación del texto e iconos mediante una cuadrícula grid */
div.listas {
  display: grid;
  grid-template-columns: 25px 1fr;
  column-gap: 7px;
  font-size: 1.3em;
}
div.listas i {
  justify-self: center;
}
div.listas p {
  align-self: center;
}

div.config {
  font-size: 1.3em;
  position: absolute;
  bottom: 20px;
}

/* Estilo de la barra de navegación */
::-webkit-scrollbar {
  width: 0.5vw;
}
/* Estilo del fondo de la barra de navegación */
::-webkit-scrollbar-track {
  background: var(--color2);
}
/* Estilo del recorrido de la barra de navegación */
::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  border-radius: 20px;
}
