.infoCarrito {
  width: 80%;
  margin: 0 auto;
  display: grid;
  column-gap: 2vw;
  grid-template-columns: 65% 35%;
}
.infoCarrito .carrito {
  background-color: var(--color1);
  border-radius: 20px;
  padding: 4vh 2vw;
  box-shadow: 5px 5px 5px var(--color4);
}
.infoCarrito .carrito .juego {
  margin-bottom: 2vh;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.infoCarrito .carrito .juego > img {
  width: 25%;
  border-radius: 10px;
}
.infoCarrito .carrito .juego .infoJuego {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-areas:
    'uno dos'
    'tres tres';
  justify-content: start;
  align-items: center;
  padding: 0.5vh 0.5vw;
  gap: 0.5vw;
}
.infoCarrito .carrito .juego .infoJuego > i,
.infoCarrito .carrito .juego .infoJuego > img {
  grid-area: uno;
  padding-top: 0.2vh;
}
.infoCarrito .carrito .juego .infoJuego > p {
  grid-area: dos;
  font-size: 1.2em;
  font-weight: 600;
}
.infoCarrito .carrito .juego .infoJuego > div {
  grid-area: tres;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5vw;
  width: 100%;
}
.infoCarrito .carrito .juego .infoJuego > div a {
  color: black;
  text-decoration: none;
  transition: all 0.5s;
}
.infoCarrito .carrito .juego .infoJuego > div i {
  transition: all 0.5s;
  color: var(--color3);
}
.infoCarrito .carrito .juego .infoJuego > div i:hover {
  transform: scale(1.3);
}
.infoCarrito .carrito .juego .infoJuego > div a:hover {
  transform: scale(1.05);
}
.infoCarrito .carrito .juego .precioCantidad {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.infoCarrito .carrito h2 {
  text-align: center;
}

.infoCarrito .comprar {
  background-color: var(--color1);
  border-radius: 20px;
  padding: 4vh 2vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-self: flex-start;
  box-shadow: 5px 5px 5px var(--color4);
}
.infoCarrito .comprar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoCarrito .comprar > div p:nth-child(2) {
  font-weight: 600;
  font-size: 2em;
}
.infoCarrito .comprar button {
  width: 100%;
  background-color: var(--color2);
  border: none;
  color: #fff;
  padding: 1vh 2vw;
  border-radius: 5px;
  transition: all 0.5s;
  font-size: 1.2em;
}
.infoCarrito .comprar button:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 2px #fff;
}
.infoCarrito .comprar hr {
  border: 1px solid var(--color2);
  opacity: 0.5;
}
.infoCarrito .comprar a {
  text-align: center;
  color: var(--color2);
  transition: all 0.5s;
}
.infoCarrito .comprar a:hover {
  text-decoration: none;
  letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
  .infoCarrito {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .infoCarrito .carrito {
    margin-bottom: 2vh;
  }
  .infoCarrito .carrito .juego > img {
    width: 25%;
  }
  .infoCarrito .carrito .juego .infoJuego {
    width: 100%;
    padding-left: 2vw;
  }
  .infoCarrito .carrito .juego .infoJuego > p {
    font-size: 1em;
  }
  .infoCarrito .carrito .juego .infoJuego > div {
    justify-content: center;
  }

  .infoCarrito .comprar {
    width: 100%;
    position: sticky;
    bottom: 8vh;
    border-top: 2px solid var(--color2);
  }
}
