.verLista {
  width: 60%;
  margin: 0 auto;
  background-color: var(--color1);
  padding: 2vh 2vw;
  border-radius: 20px;
  position: relative;
}
.verLista h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-shadow: 3px 3px 3px var(--color2), -3px 3px 3px var(--color2), -3px 3px 3px var(--color2), -3px -3px 3px var(--color2);
}
.verLista p {
  margin-top: 2vh;
  text-align: center;
}
.verLista > a i {
  position: absolute;
  right: 4%;
  top: 10%;
  color: black;
  transition: all 0.5s;
}
.verLista > a i:hover {
  transform: scale(1.2);
}
.verLista hr {
  border: 2px solid var(--color2);
  margin: 2vh 0 2vh 0;
}
.verLista .juegos {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.verLista .juegos .juego a {
  text-decoration: none;
  color: black;
}
.verLista .juegos .juego a {
  display: flex;
  justify-content: space-between;
}
.verLista .juegos .juego {
  display: flex;
  justify-content: space-between;
}
.verLista .juegos .juego:hover img {
  transform: scale(1.1);
}
.verLista .juegos .juego:hover h3 {
  text-decoration: underline;
}
.verLista .juegos .juego img {
  width: 20%;
  border-radius: 10px;
  transition: all 0.5s;
}
.verLista .juegos .juego .info {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  width: 70%;
}
.verLista .juegos .juego .info img.nintendoIcon {
  width: 20px;
  transform: translateY(4px);
}
.verLista .juegos .juego .borrar {
  color: var(--color3);
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s;
}
.verLista .juegos .juego:hover .borrar {
  opacity: 1;
}
.verLista .juegos .juego .borrar:hover {
  transform: scale(1.5) translateY(45px);
}

@media screen and (max-width: 1200px) {
  .verLista {
    width: 90%;
  }
  .verLista h1 {
    font-size: 1.4em;
  }
  .verLista .juegos .juego .info p {
    display: none;
  }
  .verLista .juegos .juego .info h3 {
    text-align: center;
    margin: 0 2vw;
    font-size: 1em;
  }
  .verLista .juegos .juego img {
    width: 30%;
    border-radius: 10px;
    transition: all 0.5s;
  }
  .verLista .juegos .juego .borrar {
    opacity: 1;
    transform: translate(0);
  }
}
