<nav class="navbar">
  <div class="nav-left">
    <div class="hamburger-icon" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <span class="logo">ORDE<span class="neon-text">PLAY</span></span>
  </div>

  <div class="nav-center">
    
    <div class="search-input-wrapper">
      <input 
        type="text" 
        placeholder="Buscar juego..." 
        [(ngModel)]="searchTerm"
        (keyup.enter)="triggerSearch()"
      >
      <button class="icon-btn" (click)="triggerSearch()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      </button>
    </div>

    <div class="filters-row">
      <select [(ngModel)]="selectedGenre" (change)="triggerSearch()" class="filter-chip">
        <option value="">Todos los Géneros</option>
        @for (g of genres; track g.id) { <option [value]="g.id">{{ g.name }}</option> }
      </select>

      <select [(ngModel)]="selectedPlatform" (change)="triggerSearch()" class="filter-chip">
        <option value="">Cualquier Plataforma</option>
        @for (p of platforms; track p.id) { <option [value]="p.id">{{ p.name }}</option> }
      </select>
    </div>

  </div>

  <div class="nav-right">
    @if (isLoggedIn) {
      <img [src]="userProfileImage" class="profile-pic" alt="Perfil">
    } @else {
      <button class="login-btn">Iniciar Sesión | Registrarse</button>
    }
  </div>
</nav>