/* Reset básico */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #050505; /* Negro profundo */
  color: #e0e0e0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

/* Variables de estilo Gamer */
:root {
  --neon-purple: #bc13fe;
  --neon-blue: #0ff0fc;
  --dark-bg: #0a0a0a;
  --card-bg: #151515;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: var(--neon-purple);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neon-blue);
}